Lab Exercise: Reading in database files
Create a variable, path, containing the path to the baseball.db contained in resources/
Create a connection, con, that is connected to database at path
Create a variable, query, containing a SQL query which reads in all data from the allstarfull table
Create a variable, observations, by using pandas' read_sql
Optional
Create a variable, tables, which reads in all data from the table sqlite_master
Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [1]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [2]:
# Initialize path to SQLite databasejdbc:sqlite:/C:/__tmp/test/sqlite/jdbcTest.db
path = 'baseball.db'
con = sq3.Connection(path)

In [5]:
query="""
SELECT *
    FROM allstarfull
    ;
"""
obs= pd.read_sql(query,con)

print(obs)

      index   playerID  yearID  gameNum        gameID teamID lgID   GP  \
0         0  gomezle01    1933        0  ALS193307060    NYA   AL  1.0
1         1  ferreri01    1933        0  ALS193307060    BOS   AL  1.0
2         2  gehrilo01    1933        0  ALS193307060    NYA   AL  1.0
3         3  gehrich01    1933        0  ALS193307060    DET   AL  1.0
4         4  dykesji01    1933        0  ALS193307060    CHA   AL  1.0
...     ...        ...     ...      ...           ...    ...  ...  ...
5143   5143  seageco01    2016        0  ALS201607120    LAN   NL  1.0
5144   5144  strasst01    2016        0  ALS201607120    WAS   NL  0.0
5145   5145  syndeno01    2016        0  ALS201607120    NYN   NL  0.0
5146   5146  teherju01    2016        0  ALS201607120    ATL   NL  1.0
5147   5147  zobribe01    2016        0  ALS201607120    CHN   NL  1.0

      startingPos
0             1.0
1             2.0
2             3.0
3             4.0
4             5.0
...           ...
5143          NaN
5144          NaN
5145          NaN
5146          NaN
5147          4.0

[5148 rows x 9 columns]

In [9]:
best ="""
SELECT playerID, sum(GP) AS games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY games_played DESC, avg_starting_position ASC
    LIMIT 3;
"""
bestq = pd.read_sql(best, con)
print(bestq.head())

    playerID  games_played  avg_starting_position
0  musiast01          24.0               6.357143
1   mayswi01          24.0               8.000000
2  aaronha01          24.0               8.470588